/**
 * Grid
 * Minimal grid system with auto-layout columns
 */

@mixin grid($columns) {
  @apply grid grid-cols-1 place-items-center gap-2;

  @media (min-width: 1024px) {
    @apply gap-4;
    grid-template-columns: repeat($columns, minmax(0, 1fr));
  }

  & > * {
    min-width: 0; // HACK for childs in overflow
  }
}

.grid1 {
  @include grid(1);
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}
.grid2 {
  @include grid(2);
}
.grid3 {
  @include grid(3);
}
.grid4 {
  @include grid(4);
}
.grid5 {
  @include grid(5);
}
.grid6 {
  @include grid(6);
}
