.section {
  @apply flex flex-col bg-primary-900 py-12 text-center uppercase text-white;

  h2 {
    @apply mb-8 text-2xl font-bold lg:text-4xl;
  }

  ul {
    @apply mx-auto flex gap-6 overflow-x-scroll;
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 240px;
    min-width: 180px;

    @apply rounded-sm p-2 hover:bg-primary-600;

    header {
      @apply mb-2 aspect-square;

      img {
        @apply min-h-[160px] min-w-[160px] rounded-sm object-cover;
      }
    }

    footer {
      @apply h-full text-base font-medium leading-6;

      > h3 {
        @apply text-base font-bold;
      }

      > p {
        @apply text-sm font-normal;
      }
    }
  }
}
