/* @import "~node_modules/modern-normalize/modern-normalize.css"; */
@import "~node_modules/@picocss/pico/css/pico.css";

:root {
  /* Customise Pico.css styles */
  --primary: #554d35;
  --typography-spacing-vertical: 0;

  /* Global variables */
  --max-width: 1100px;
  --border-radius: 12px;
  --font-serif: "Open Sans", sans-serif, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

html {
  font-family: var(--font-serif);
  color-scheme: dark;
}
